APP_NAME=TAHU
APP_ENV=local
APP_KEY=base64:NBinApNZGJJXQpiHyASGZMNpjgXAITb86gYfntNjhZY=
APP_DEBUG=false
APP_URL=http://appllanos:8080/tahu/public/
LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3307
DB_DATABASE=illanos
DB_USERNAME=illanos
DB_PASSWORD='illanos2022'

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=54000

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=sendmail					 
MAIL_HOST=mail1.seniat.gob.ve               #servidor de correo
MAIL_PORT=1025								#Puerto del servido de correo
MAIL_USERNAME=webmaster@seniat.gob.ve       #Correo electronico usado para el remitente
MAIL_PASSWORD=seniat2022                    #Clave del correo electronico
MAIL_ENCRYPTION=ssl                         ##Método de envío
MAIL_FROM_ADDRESS=webmaster@seniat.gob.ve   #Correo del receptor predeterminado
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

#URL de la aplicación
APP_URL_NAME="http://appllanos:8080/tahu/public"
APP_URL_GLOB = "http://appllanos:8080/tahu"

APP_URL_TRIBUTARIO = "http://appllanos:8080/tributos/public/bootear"
APP_URL_BINAL = "http://appllanos:8080/binal/public/bootear"

APP_VALOR_ZONA_HORARIA =  0             #Valor de la diferencia de zona horaria en minutos
APP_VALOR_ZONA_REF = "R"				#El valor anterior se resta R o se suma S
APP_TIEMPO_ESPERA_NUEVA_ASISTENCIA = 1  #Tiempo de espera en minutos para capturar cada registro de asistencia de el mismo funcionario
APP_EN_MODAL_ASISTENCIA = true          #Mostrar ventana de resultado de asistencia registrada en ventana modal solo funciona si APP_ASISTENCIA_AUTOMATICA es true
APP_ASISTENCIA_AUTOMATICA = false       #Pregutar para registrar asistencia
APP_LINEA_DE_TIEMPO = 8                 #La configuración para entradas y salidas de 8 registros máximo (ó 4)

APP_URL_CONSULTA = "http://leftsoft.tech/public"

APP_IMAGEN_QR=false

APP_CARPETA_ADJUNTOS = "../../../../../../ArchivosAdjuntos/"
#APP_CARPETA_ADJUNTOS = "../../../ArchivosAdjuntos/"		 