table.redTable {
  border: 1px solid #A40808;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.redTable td, table.redTable th {
  border: 1px solid #EFC3B9;
  padding: 1px 1px;
}
table.redTable tbody td {
  font-size: 12px;
  color: #000000;
}
table.redTable tr:nth-child(even) {
  background: #F5E2DB;
}
table.redTable thead {
  background: #A40808;
  background: -moz-linear-gradient(top, #bb4646 0%, #ad2020 66%, #A40808 100%);
  background: -webkit-linear-gradient(top, #bb4646 0%, #ad2020 66%, #A40808 100%);
  background: linear-gradient(to bottom, #bb4646 0%, #ad2020 66%, #A40808 100%);
}
table.redTable thead th {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 1px solid #A40808;
}
table.redTable thead th:first-child {
  border-left: none;
}

table.redTable tfoot {
  font-size: 11px;
  font-weight: normal;
  color: #FFFFFF;
  background: #B32544;
  background: -moz-linear-gradient(top, #c65b73 0%, #ba3a56 66%, #B32544 100%);
  background: -webkit-linear-gradient(top, #c65b73 0%, #ba3a56 66%, #B32544 100%);
  background: linear-gradient(to bottom, #c65b73 0%, #ba3a56 66%, #B32544 100%);
  border-top: 1px solid #929292;
}
table.redTable tfoot td {
  font-size: 11px;
}
table.redTable tfoot .links {
  text-align: right;
}
table.redTable tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #A40808;
  padding: 2px 8px;
  border-radius: 5px;
}




table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
    right: 1em;
    content: "\02C6" !important;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em;
    content: "\02C7" !important;
}
table.dataTable thead .sorting { background: url('img/sort_both2.png') no-repeat center right; }
table.dataTable thead .sorting_asc { background: url('img/sort_asc2.png') no-repeat center right; }
table.dataTable thead .sorting_desc { background: url('img/sort_desc2.png') no-repeat center right; }

table.dataTable thead .sorting_asc_disabled { background: url('img/sort_asc2_disabled.png') no-repeat center right; }
table.dataTable thead .sorting_desc_disabled { background: url('img/sort_desc2_disabled.png') no-repeat center right; }




.page-item.active .page-link {
    background-color: lightgrey !important;
    border: 1px solid black;
}
.page-link {
    color: black !important;
}